@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
   --main-font:"League Spartan", sans-serif;
   --sub-font:"Poppins", sans-serif;
   --primary-color:#FED700;
   --secondary-color:#116142;
}

h1,h2,h3,h4,h5,h6,a{
  font-family: var(--main-font);
}

p{
  font-family:var(--sub-font);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h2 span {
  color: var(--primary-color);
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  /* min-height: 100vh; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .header_section {
  margin-top: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.header_section .header_top {
  padding: 15px 0;
  background-color: #04233b;
}

.header_section .header_top .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_section .header_top .contact_nav a {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}

.header_section .header_top .contact_nav a i {
  margin-right: 5px;
  border-radius: 100%;
  background-color: #ffffff;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-color);
}

.header_section .header_top .contact_nav a:hover i {
  color: #04233b;
}

.header_section .header_bottom {
  background-color: #116142;
  padding: 12px 0;
  border-bottom:1px solid rgb(139, 137, 137);

}

.header_section .header_bottom .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .header_bottom img {
  margin-right:10px;
}

.header_section .header_bottom .logo-heading {
  Font-size:40px;
  font-weight:700;
  color:#fff;
}

.header_section .header_bottom .logo-sub-heading {
  Font-size:11px;
  color:#dfdbdb;
  letter-spacing: 1.5px; 
  font-weight:300;
  text-align:center;
  margin-top:-8px;
}



.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #FED700;;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #000000;
}

.custom_nav-container .nav_search-btn:hover {
  color: #000000;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider_section .slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.slider_section .slider_bg_box img {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.slider_section .slider_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(37, 37, 37, 0.9)), to(rgba(37, 37, 37, 0.7)));
  background: linear-gradient(to right, rgba(37, 37, 37, 0.9), rgba(37, 37, 37, 0.7));
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #04233b;
}

.slider_section .detail-box h1 {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: #ffffff;
  text-align:center;

}

.slider_section .detail-box p {
  color: #fefefe;
  font-size: 14px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
  justify-content:center;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 8px 15px;
  background-color: #FED700;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  border-radius:20px;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color:#db9b40;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #FED700;
}

.service_section {
  position: relative;
}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  background-color: var(--primary-color);
  /* padding: 20px; */
  border-radius: 5px;
}

.service_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* width: 300px; */
  min-width: 75px;
  height: auto;
  margin-right: 25px;
  flex:1 0 25%;
}

.service_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}


.service_section .box .detail-box{
  padding:30px 10px 20px 0px;
}

.service_section .box .detail-box a {
  color: var(--secondary-color);
  font-weight: 600;
}

.service_section .box .detail-box p {
  color:#000;
  font-size:14px;
}

.service_section .box .detail-box p span {
  color:#116142;
  font-weight:600;
  font-size:14px;

}

.service_section .box .detail-box a:hover {
  color: white;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
  position: relative;
}

.about_section .img-box img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.about_section .img-box::before, .about_section .img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45px;
  height: 70%;
  background-color: var(--primary-color);
  z-index: 3;
}

.about_section .img-box::before {
  left: 0;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about_section .img-box::after {
  right: 0;
  z-index: 1;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.about_section .detail-box p {
  color: #1f1f1f;
  margin-top: 15px;
  text-align:justify;
  padding-right:20px;
  letter-spacing: 0.8px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: var(--secondary-color);
}

.track_section {
  position: relative;
  color: #ffffff;
}

.track_section .track_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.track_section .track_bg_box img {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.track_section .track_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(37, 37, 37, 0.95)), to(rgba(37, 37, 37, 0.55)));
  background: linear-gradient(to right, rgba(37, 37, 37, 0.95), rgba(37, 37, 37, 0.55));
}

.track_section p {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.track_section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.track_section form input {
  background-color: #ffffff;
  border: none;
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  outline: none;
  color: #000000;
  min-height: 42.4px;
  padding-left: 15px;
}

.track_section form input ::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.2;
}

.track_section form input :-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.2;
}

.track_section form input ::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.2;
}

.track_section form input ::placeholder {
  color: #ffffff;
  opacity: 0.2;
}

.track_section form button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  padding: 9px 30px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
}

.track_section form button:hover {
  background-color: #065968;
}

.client_section .client_container {
  width: 75%;
  margin-top: 45px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5px;
}

.client_section .box .detail-box {
  border: 1px solid #dddddd;
  padding: 25px;
  margin-bottom: 25px;
}

.client_section .box .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .box .client_id .img-box {
  position: relative;
  width: 75px;
  height: 75px;
}

.client_section .box .client_id .img-box img {
  width: 100%;
}

.client_section .box .client_id .name {
  margin-left: 15px;
}

.client_section .box .client_id .name h6 {
  color: #23242a;
  font-size: 18px;
  margin-bottom: 0;
}

.client_section .box .client_id .name p {
  margin-bottom: 0;
}

.client_section .carousel-wrap {
  margin: 0 auto;
  position: relative;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: -15%;
  outline: none;
  background-color: var(--primary-color);
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  background-color: #161825;
}

.client_section .owl-carousel .owl-nav .owl-prev {
  top: 25%;
  background-image: url(../images/prev.png);
}

.client_section .owl-carousel .owl-nav .owl-next {
  top: calc(25% + 65px);
  background-image: url(../images/next.png);
}

.contact_section {
  position: relative;
  padding-bottom: 90px;
}

.contact_section .heading_container {
  margin-bottom: 25px;
}

.contact_section .heading_container h2 {
  text-transform: uppercase;
}

.contact_section .form_container {
  margin-right: 15px;
}

.contact_section .form_container input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  outline: none;
  color: #101010;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: #04233b;
}

.contact_section .form_container input:-ms-input-placeholder {
  color: #04233b;
}

.contact_section .form_container input::-ms-input-placeholder {
  color: #04233b;
}

.contact_section .form_container input::placeholder {
  color: #04233b;
}

.contact_section .form_container input.message-box {
  height: 120px;
}

.contact_section .form_container button {
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 55px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
}

.contact_section .form_container button:hover {
  background-color: #065968;
}

.contact_section .map_container {
  height: 420px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.contact_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}

.info_section {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 45px 0 15px 0;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_col {
  margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: var(--primary-color);
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  gap:5px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: var(--primary-color);
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a:hover {
  color: var(--primary-color);
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: #065968;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: var(--primary-color);
  text-align: center;
}

.footer_section p {
  color: #04233b;
  padding: 25px 0;
  margin: 0;
  font-weight:500;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */


/* --------starting logo animation---- */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position:relative;
  background-color:#116142;
}

.logo-container .logo {
  width: 300px; /* Adjust size as needed */
  height: auto;
  animation: zoomOutLogo 2.7s cubic-bezier(.56,.01,.77,-0.1);
}


.homepage {
  display:block;
}


 /* @keyframes zoomOutLogo {
  0% {
    transform: scale(1);
  }
 
  
  100% {
    transform: scale(2);
    opacity:0.3;
  }
}  */



/* =========== service section =========== */

/* top padding of hero image */
.service_section.layout_padding{
  padding: 0px;
}


/* hero image width */
.service_section.layout_padding .image-container img{
 width:100%;
 object-fit:cover;
}

@media (min-width:1024px){
  .service_section.layout_padding .image-container img{
   height:700px;
   }

   .hero_section.layout_padding .image-container {
    height:700px;
    }
}

/* top padding of hero image */
.service_section .image-container{
  position:relative;
}

/* overlay text on hero image */
.service_section .image-container .overlay-text{
  color:white;
  font-size:86px;
  text-align:center;
  position:absolute;
  bottom:30%;
  line-height:100px;
}

/* hero image black overlay  */
.service_section .image-container:before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.3)
}


/* product blocks top & bottom space */
.service_container{
  margin:50px 0px;
}


/* service block heading center alignment */
.service_container .heading_container{
  justify-content:center;
  align-items:center;
}



.service_section .img-box{
  position:relative;
}


/* image height */
.service_section .img-box img{
 height:100%;

}

/* image scaling on hover */
.service_section .img-box img:hover{
  transform:scale(1.1);
}

/* text shown on image hover */
.service_section .img-box img:hover + span{
  display:block;

}

/* span text over image styling */
.service_section .img-box span{
  position:absolute;
  bottom:0;
  color:red;
  font-size:18px;
  font-weight:600;
  transform:translate(50%);
  display:none;


}

.hero-section .image {
  display: none; /* add this rule to hide all images initially */
}


  

@media (max-width:767px){
  .default-icon{
      display:none!important;
  }
  
  .mobile-icon{
      display:flex!important;
  }
  }


  /* ===========--------homepage -------------========= */


.hero_section .image {
  
  width: 100%;
  height: 100%;
  /* display: none; */

}

/* ---image hover in homepage----- */

:is(.homepage,.product) .service_section .box .img-box img{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, transform 0.5s ease;
  filter:brightness(0.8); 
}


:is(.homepage,.product) .service_section .box .img-box img.second-image {
  opacity: 0;
  transform: scale(1);
}

:is(.homepage,.product) .service_section .box .img-box:hover img.first-image {
  opacity: 0;
}

:is(.homepage,.product) .service_section .box .img-box:hover img.second-image {
  opacity: 1;
  transform: scale(1.1); /* Adjust scale effect as needed */   
}


/* -------homepage_end image css----- */
.track_section{
  padding:150px 0;
  margin-bottom:80px;
}

.track_section .track_bg_box::before{
 background:linear-gradient(to right, rgba(37, 37, 37, 0.3), rgba(37, 37, 37, 0.3));
}

.track_section h2{
  font-size:70px;
  font-weight:500;
  line-height:4.5rem;
  text-align:center;
}

/* --------------about page css------------ */

 /* overlay text on hero image */
 .about .service_section .image-container .overlay-text{
  bottom:20%;
  padding:0px 20px;
}




/* -------Footer section-------- */

.info_section .widget-1 h2.heading{
  font-weight:700;
  font-size:40px;
  margin-top:15px;
  margin-bottom:0px
}

.info_section .widget-1 .sub-heading{
  font-size:11px;
  letter-spacing:2px
}

.info_section .widget-1 {
  text-align:center;
  transform:translatex(-40px);
}

.info_section .widget-2 p {
  font-weight:300;
  font-size:15px
}

.info_section .widget-4 .info_social a i {
 padding: 8px 11px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2); font-weight:300;

}








/* ===================================================== */
/* ================== Mobile Responsive Design =========== */

@media (max-width:480px){
   
   /* overlay text on hero image */
   .service_section .image-container .overlay-text{
    font-size:35px;
    bottom:20%;
    line-height:40px;
}

 /* overlay text on hero image for about pagee */
 .about .service_section .image-container .overlay-text{
      bottom:10%;
}
     
    .service_section .box {
        flex-direction: row;
    }
    
/*     image box width */
     .service_section .box .img-box {
        margin: 0px;
         flex:1 0 40%;
         border-radius:5px 0px 0px 5px;
    }
    
/*   image border radius */
    .service_section .box .img-box img{
         border-radius:5px 0px 0px 5px;
    }
    
    
/*   detail box inner padding/space   */
     .service_section .box .detail-box {
       padding:20px 10px 10px 20px
    }
 
/*   detail box font size   */
    .service_section .box .detail-box p {
       font-size:12px;
}

  .service_section.layout_padding .image-container img{
    height:400px;
    }

    .hero_section.layout_padding .image-container {
    height:400px;
    }

    /* homepage > introduction */
    .service_section .heading_container :is(p,span) {
      font-size:14px;
    }



    
  /*     homepage > about */
      .about_section .detail-box p {
         font-size:13px;
      }
      
   
  /*    homepage > end-image */
       .track_section {
          padding:60px 0px;
          margin-bottom:50px;
      }
      
      .track_section h2{
          font-size:35px;
          line-height:2.5rem;
      } 
      
      .track_section img{
         max-width:100%;
          
      }
     .track_section .track_bg_box::before {
      background: linear-gradient(to right, rgba(37, 37, 37, 0.5),rgba(37, 37, 37, 0.5));
  }
      




      
  /* -----Footer Section - - - */
      .info_section .widget-1{
          transform:translatex(0);
      }
      
      .info_section .widget-2{
          text-align:center;
          padding-left:30px;
          padding-right:30px;
      }
  }
  
  
 /* ===========================About page ===============================================  */
 /* about > why choose & value section  */

:is(.value-section,.why-choose-section) .heading_container h2 {
  align-self: center;
  font-size: 50px;
  margin-bottom: 30px;
}

:is(.value-section,.why-choose-section) h3 {
  align-self: center;
  font-size: 40px;
  margin-top: 50px;
  width: 50%;
  font-weight: 600;
}

:is(.value-section,.why-choose-section) p {
  width: 50%;

}

.value-section { 
 padding-bottom:0px;
}


.value-section h3 { 
  width: 100%
}

.value-section p {
  width:100%;
}

.value-section .right-block img{
  width:60%;
  
}

.value-section .right-block {
  width:70%;
  text-align:right;
  display:flex;
  flex-direction:column;
  gap:100px;
}



.value-section .right-block .before-box{
  width:200px;
  height:200px;
  background-color:#FED700;
  float:left;
  transform:translate(178px,-37px);
}

.value-section .right-block img{
  position:relative;
  z-index:10;
}

.value-section .right-block .after-box{
  width:200px;
  height:200px;
  background-color:#FED700;
  float:right;
  transform:translate(42px,-161px);
}


/* center image section */

.image-section {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(image/about/about_end.png);
  
}

.image-section .section-1 .col-md-6 h3 {
  color: white;
  font-size: 65px;
  font-weight: 700;
  text-align: center;
}

.image-section .section-1 .col-md-6 p{
  color: white;
  font-size: 20px;
  text-align: center;
}




/* end-section */
section.end-section{
  text-align:center;
  padding-bottom:50px;
}

.end-section h2{
  font-size:100px;
  font-weight:700;
  letter-spacing:3px;
  margin-top:30px;
}
.end-section >p{
  font-size:30px;
  margin-top:-20px;
}

.end-section h3{
  font-size:42px;
  font-weight:600;
  text-transform:uppercase;
  margin-bottom:50px;
}

.end-section .image-container{
   background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(image/about/about_end.png);
  
  display:flex;
  flex-wrap:wrap;
  padding:80px 0px;
  gap:10px;

}

.end-section .image-container p{
  color:white;
  font-size:30px;
  font-weight:500;
  flex:1 0 45%;
}

.end-section .image-container p::before{
content:"\2600";
  padding-right:20px;
}




/* ---------------product page ------------------ */


.product-dropdown{
  text-align: center;
  margin-top: 20px;;
}

#vegetable-select {
  font-size: 16px; /* Adjust font size */
  padding: 8px; /* Padding around the text */
  border: 1px solid #ccc; /* Border around the dropdown */
  border-radius: 4px; /* Rounded corners */
  background-color: #fff; /* Background color */
  color: #333; /* Text color */
  width: 300px; /* Width of the dropdown */

}

#vegetable-select:hover,
#vegetable-select:focus {
  border-color: var(--primary-color); /* Darker border color on hover/focus */
}

#vegetable-select option {
  background-color: #fff; /* Background color of options */
  color: #333; /* Text color of options */
}

#vegetable-select option:hover {
  background-color: #f0f0f0; /* Background color of options on hover */
}


.product-section .cards .img-box{
  flex:1 0 30%;
}

.product-section .cards ul{
  padding-left:15px;
  
}

.product-section .cards ul li{
font-size:14px
  
}



@media screen and (max-width:480px){
  
.product-section .cards .img-box{
  flex:1 0 40%;
}
  .product-section .cards ul li{
font-size:13px
  
}
  
  
}



/* --------------about page mobile view ---------- */

@media (max-width:480px){
  
/* about > why choose & value section  */

:is(.value-section,.why-choose-section) .heading_container h2 {
  font-size: 35px;
  text-align:center;
  margin-bottom: 2px;
}

:is(.value-section,.why-choose-section) h3 {

  font-size: 30px;
  margin-top: 40px;
  width: 100%;
  text-align:center;
}

:is(.value-section,.why-choose-section) p {
  width: 100%;
  text-align:center;

}

.value-section { 
 padding-bottom:0px;
}



.value-section .right-block img{
  width:100%;
  position:relative;
  left:25%;

}


.value-section .right-block .before-box{
  width:100px;
  height:100px;
  background-color:#FED700;
  float:left;
  transform:translate(35px,70px);
}


.value-section .right-block .after-box{
  width:100px;
  height:100px;
  background-color:#FED700;
  float:right;
  transform:translate(96px,-69px);
}
  
  
/* center image section */

.image-section .section-1 .row{
  gap:30px;
}

.image-section .section-1 .col-md-6 h3 {
  font-size: 40px;
}

.image-section .section-1 .col-md-6 p{
  font-size: 15px;
 
}
  

/*  /* ------end section in about page -------- */
  
section.end-section img{
  width:150px;
}

.end-section h2{
  font-size:50px;
  letter-spacing:1px;
  
}
.end-section >p{
  font-size:16px;
  margin-top:1px;
}

.end-section h3{
  font-size:25px;
  margin-bottom:50px;
}


.end-section .image-container p{
  font-size:20px;
  flex:1 0 100%;
}

}




